{% extends 'base.html' %}

{% block uname %}{{ user }}{% endblock %}

{% block body %}
<div class="container-md d-flex flex-column">

    <div class="d-flex my-1 mx-2">
        <div class="d-flex align-content-center">
            <p class="text align-self-center">Load the last n measured values: </p>
            <input id="load_n_input" type="text" class="form-control ms-2" name="n_load" style="width: 80px">
            <button class="btn btn-primary" id="load_n_button" onclick="">Load</button>
        </div>
    </div>
    <div class="d-flex my-1 mx-2">
        <div class="d-flex align-items-center">
            <p class="text">Delete the last n measured values: </p>
            <input id="delete_n_input" type="text" class="form-control ms-2" name="n_delete" style="width: 80px">
            <button class="btn btn-primary" id="delete_n_button" onclick="">Delete</button>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="my-1 mx-2 d-flex align-items-center">
            <button class="btn btn-primary me-2" id="load_all_button" onclick="">Load All</button>
            <p class="m-0" id="n_records_paragraph"><b id="n_of_records">X</b> records are saved in the database</p>
        </div>
        <div class="d-flex my-1 mx-2">
            <p class="text me-2">The last measured temperature: <b><span id="last_temperature">N</span>°C</b></p>
{#            <p id="n_of_records text-bold" class="m-0">{{ last_temp }}°C</p>#}
        </div>
    </div>

{#    <div class="container" id="table"></div>#}
    <table class="table mt-3 table-hover table-bordered" id="table">
        <thead class="table-dark">
        <tr>
            <td class="fw-bold">Date</td>
            <td class="fw-bold">Temperature</td>
            <td class="fw-bold" style="width: 20%">Delete</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
        {#{% for date in data %}
            <tr>
                <td>{{ date["timestamp"] }}</td>
                <td>{{ date["value"] }} °C</td>
                <td class="fw-bold" style="width: 10%">
                    <button class="btn btn-primary"><a href="/delete/{{ date }}" class="text-white" style="text-decoration: none">Delete</a></button>
                </td>
            </tr>
        {% endfor %}#}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="../static/scripts/dashboard.js" type="module"></script>
</div>
{% endblock %}