{% extends 'base.html' %}

{% block uname %}{{ user }}{% endblock %}

{% block body %}
    <div class="container-sm w-50">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="login_input" class="form-label">Login</label>
            <input type="text" class="form-control" id="login_input" name="login" placeholder="Login...">
        </div>
        <div class="mb-3">
            <label for="password_input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password_input" name="password" placeholder="Password...">
        </div>
        <button class="btn btn-primary" id="registration-btn" type="submit">Login</button>
    </form>
    </div>
{#    <script src="registration.html"></script>#}
{% endblock %}